.wrapper {
    padding: 100px;

}
#mainGrid {
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
    width: 750px;
    height: 750px;
    margin: 0 auto;
    border: 1px solid black;
}

.gridSquare {
    
    border: solid;
    border-width: 1px;
    background-color: #fff;
}

.btn {
    text-align: center;
    padding: 0px, 5px, 20px, 5px,
}

